body{
	font-family: "Lato", sans-serif;
}
.parent-heding{
	background: 
}
.heading{
	font-size: 1.5em;
	word-spacing: -0.025em;
	border:none;
	text-align:center;
	padding:3% 0;
	background: url("img/bg.png"); 
	background-size:cover;
	background-repeat: no-repeat;
}
.theme-name{
	font-size: 1.2em;
	font-weight:400;
	color:#808581;
}
.heading h1 a{
	color: black;
	font-weight: 700;
}
.heading h1 a span{
	font-size: 1.2em;
	font-weight:400;
}
a{
text-decoration:none;
}
a:hover{
	color:#37c0fb !important; 
}
.navbar{
	background: #262925; 
	width: 100%;
	height: 80px;
	text-align:center;
	position: relative;
	border-bottom: 10px solid #37c0fb; 
}
.navbar a{
	color: #fff;
}
.navbar ul li{
	display: inline-block;
	padding:30px;
	color: #fff;
	position: relative;
}
.navbar ul ul{
	display: none;
	width: 200px;
}
.navbar ul li:hover > ul{
	display:block;
}
.design{
	position:absolute;
	left:20px;
}
.wrapper{
	background:url("img/img1.jpg");
	height:300px;
	background-size: cover;
	text-align:center; 
}
.wrapper h2{
	padding-top:17%;
	word-spacing: 2px;
	
	font-size: 20px;
	font-weight:900; 
}
.wrapper span{
	color:#4F4F4E;
	font-weight:100px; 
}
button{
	font-size: 17px;
	height: 50px;
	width: 170px;
	border:none;
	border-radius: 5px;
	font-weight: bold;
}
.wrapper button{
	color: #fff;
	background:#37c0fb; 	  
}
.wrapper a{
	color: #fff;
}
.line{
	border-bottom: 1px dotted #DBE2EC;
	border-bottom-height:10px;  
}
.container{
	margin:0 auto;
	width: 1200px;
	height: 500px;
}
.box{
	height:300px;
	width:30%;
	float: left;
	margin:20px; 
	margin-top:10%;
	text-align: center;
	 line-height:2em;
}
.box h3{
	font-size: 25px;
	font-weight:700px;
	padding-top: 7%;
	color: #272727;
}
.box p{
	font-size:17px;
	color: #839185;
	padding-top:7%;
}
.icon-major{
	text-align: center;
	cursor: auto;
	background:#37c0fb;
	background-image: url("img/b.jpg");
	color: #fff;
    border-radius:100%;
    width: 5em;
    height: 5em;
    margin: 0 0 2em 0;
    line-height: 5em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    top: 5%;
}
.text-header{
	clear: both;
	width:100%;
	background:url("img/ba.jpg");
	background-size: cover;
	height:250px;
	text-align:center;
	padding-top: 8%;
	line-height: 2em;
}
.text-header h1{
	color:#272727;
	font-size:2.25em;
}
.text-header p{
	font-size:25px;
	color:#999;
	font-weight:100;
	border-top: 1px dotted #e0e0e0;
	line-height: 80px;
}
.container1{
	margin:0 auto;
	height: 400px;
	width:1200px;
}
.row{
	width: 100%;
	height: 200px;
}
.box-size{
	float:left;
	width:50%;
}
.pic{
	float: left;
	margin:15px;
	border-radius:10px; 
}
.pic1{
	border-radius: 10px;
}
.pic h3{
	font-size: 20px;
	color: #272727;
}
.pic p{
	font-size:17px;
	font-weight: thick;
	color: #999;
	padding-top: 10px;
	line-height: 27px;
	word-spacing:3px;
}
.container2{
	background:#37c0fb;
	height: 150px;width: 100%;
	text-align: center;
	font-size: 30px; color: #fff;
	padding-top: 7%;
}
.container2 button{
	background: #fff;
	color: #000;
	margin-left:1%;
}
.container3{
	background:url("img/ba.jpg");
	width: 100%;
	height: 500px;
}
.list-item{
	width:15%;
	height: 300px;
	float:left;
	margin:60px 20px 0 20px;
	padding-left:3%;
	line-height:2.5em;
}
.list-item h3{
	font-size:20px;
	color:#272727;  
}
.list-item ul li a{
	border-bottom: 1px dotted #A2A1A1;
	color:#999; 
}

.form{
	float: left;
	width: 50%;
	height: 300px;
	margin:60px 20px 0 20px;
	font-size: 20px;
	color:#272727; 
}
input{
	height: 40px;
	width: 300px;
	margin: 30px 10px;
	font-size: 20px;
	font-weight: 100;
	background: white;
}
.message{
	width: 600px;
	height: 170px;
}
.form button{
	background: #555555;
	color: #fff;
	margin-left: 10px;
}
.primary-footer{
	background: url("img/ba.jpg");
	height: 250px;
	text-align: center;
	clear:left;
	padding-top:5%;
}
.primary-footer a i {
	padding:15px;
	color: #999;
}
.primary-footer a i:hover{
	color: #474747;
}
.copyright ul li{
	display: inline;
	padding: 10px;
	color: #999;
	border-right: 1px dotted #A2A1A1;
	line-height:1px;  
}
.copyright ul li a{
	color:#999; 
}





